@model IEnumerable<QuanLyBanSach.Models.Admins>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách Admin</h1>

<p>
    <a class="btn btn-sm btn-outline-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ tên Admin
            </th>
            <th>
                Tên đăng nhập
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            
            <td>
                    <a class="btn btn-info btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.MaAd">Edit</a>
                    <a class="btn btn-primary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.MaAd">Details</a>
                    <a class="btn btn-secondary btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.MaAd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
