@model IEnumerable<QuanLyBanSach.Models.NguoiDung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách người dùng</h1>

<p>
    <a class = "btn btn-sm btn-outline-info" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                Họ tên người dùng
            </th>
            <th>
                Email
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Tài khoản
            </th>
            <th>
                Địa chỉ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenNd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                    <a class="btn btn-info btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.MaNd">Edit</a>
                    <a class="btn btn-primary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.MaNd">Details</a>
                    <a class="btn btn-secondary btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.MaNd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
