@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	QuanLyBanSach.Models.NguoiDung account = ViewBag.taiKhoan;
	QuanLyBanSach.Models.Admins admin = ViewBag.admin;
}
<header id="tg-header" class="tg-header tg-haslayout">
	<div class="tg-topbar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<ul class="tg-addnav">
						<li>
							<a href="javascript:void(0);">
								<i class="icon-envelope"></i>
								<em>Liên hệ</em>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="icon-question-circle"></i>
								<em>Trợ giúp</em>
							</a>
						</li>
					</ul>
					<div class="dropdown tg-themedropdown tg-currencydropdown">
						<a href="javascript:void(0);" id="tg-currenty" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="icon-earth"></i>
							<span>Đơn vị tiền</span>
						</a>
						<ul class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-currenty">
							<li>
								<a href="javascript:void(0);">
									<i>£</i>
									<span>Pound</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i>$</i>
									<span>Dollar</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<i>€</i>
									<span>Euro</span>
								</a>
							</li>
						</ul>
					</div>
					@if (account != null)
					{
						<div class="tg-userlogin" style="display:flex;">
							<figure><a href="javascript:void(0);"><img style="width:30px; height:30px;" src="@Url.Content("../User/images/team/" + account.Anh)" alt="image description"></a></figure>
							<span>Hi, @account.TaiKhoan</span>
							<div style="margin-left:10px;">
								<a asp-controller="Access" asp-action="Logout">Đăng xuất</a>
							</div>
						</div>
					} else if (admin != null)
					{
						<div class="tg-userlogin" style="display:flex;">
							<figure><a href="javascript:void(0);"><img style="width:30px; height:30px;" src="@Url.Content("../User/images/users/img-01.jpg")" alt="image description"></a></figure>
							<span>Hi, @admin.TenDangNhap</span>
							<div style="margin-left:10px;">
								<a asp-controller="Access" asp-action="Logout">Đăng xuất</a>
							</div>
						</div>
					}
					else
					{
						<div class="tg-userlogin">
							<a asp-controller="Access" asp-action="Login">Đăng nhập |</a>
							<a asp-controller="Access" asp-action="SignUp">Đăng ký</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<div class="tg-middlecontainer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<strong class="tg-logo"><a asp-controller="Home" asp-action="Index"><img src="../User/images/logo.png" alt="Nhóm 7"></a></strong>
					<div class="tg-wishlistandcart">
						<div class="dropdown tg-themedropdown tg-wishlistdropdown">
							<a href="javascript:void(0);" id="tg-wishlisst" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="icon-heart"></i>
							</a>
							<div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-wishlisst">
								<div class="tg-description"><p>Danh sách rỗng</p></div>
							</div>
						</div>
						<div class="dropdown tg-themedropdown tg-minicartdropdown">
							<a " id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							@await Component.InvokeAsync("NumberCart")
								<i class="icon-cart"></i>
								<span>Giỏ hàng</span>
							</a>
							@await Component.InvokeAsync("HeaderCart")
						</div>
					</div>
					<div class="tg-searchbox">
						<form class="tg-formtheme tg-formsearch">
							<fieldset>
								<input type="text" name="search" class="typeahead form-control" placeholder="Tìm kiếm theo tên sách, tác giả, ...">
								<button type="submit"><i class="icon-magnifier"></i></button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tg-navigationarea">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<nav id="tg-nav" class="tg-nav">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
							<ul>
								<li class="menu-item current-menu-item">
									@Html.ActionLink("Trang chủ", "Index", "Home")
								</li>
								<li class="menu-item">
									<a href="#">Tác giả</a>
								</li>
								<li class="menu-item">
									@Html.ActionLink("Sách", "HienThiSanPham", "Home")
								</li>

								<li class="menu-item">
									<a href="#">Tin tức</a>
								</li>
								<li class="menu-item">
									@Html.ActionLink("Liên hệ", "Index", "Contact")
								</li>

							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
