@model QuanLyBanSach.Models.DonHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa Đơn Hàng</h1>

<h3>Sếp Có Chắc Chắn Muốn Xóa Đơn Hàng Này Không?</h3>
<div>
    <h4>Đơn Hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Địa Điểm Giao Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemGh)
        </dd>
        <dt class = "col-sm-2">
            Ngày Đặt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            Ngày Giao
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
        <dt class = "col-sm-2">
            Tổng Tiền
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            Ghi Chú
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            Tên Khách Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKh)
        </dd>
        <dt class = "col-sm-2">
            Trạng Thái Đơn Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiDh)
        </dd>
        <dt class = "col-sm-2">
            Mã ND
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNdNavigation.MaNd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaDonHang" />
        <input type="submit" value="Xóa Đơn Hàng" class="btn btn-danger" /> |
        <a class="btn btn-info btn-tone m-r-5" asp-action="Index">Quay lại</a>
    </form>
</div>
