@model List<QuanLyBanSach.ModelViews.CartItem>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--************************************
		Inner Banner Start
*************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-07.jpg">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="tg-innerbannercontent">
					<h1>Cart</h1>
					<ol class="tg-breadcrumb">
						<li><a href="javascript:void(0);">home</a></li>
						<li class="tg-active">Cart</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<!--************************************
		Inner Banner End
*************************************-->

<div class="colorlib-product">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-md-12">
				<div class="product-name d-flex">
					<div class="one-forth text-left px-4" style="padding-left:20px;">
						<span>Sách</span>
					</div>
					<div class="one-eight text-center">
						<span>Giá</span>
					</div>
					<div class="one-eight text-center">
						<span>Số lượng</span>
					</div>
					<div class="one-eight text-center">
						<span>Tổng</span>
					</div>
					<div class="one-eight text-center px-4">
						<span>Xóa</span>
					</div>
				</div>
				@foreach(var item in Model)
				{
					<div class="product-cart d-flex">
					<div class="one-forth">
						<div class="product-img" style="background-image: url(@Url.Content("../User/images/books/img-01.jpg")); background-repeat: no-repeat; background-position: center; background-size: cover;">
						</div>
						<div class="display-tc">
							<h3>@item.sach.TenSach</h3>
						</div>
					</div>
					<div class="one-eight text-center">
						<div class="display-tc">
							<span class="price">@item.sach.GiaBan.Value.ToString("#,##0") VNĐ</span>
						</div>
					</div>
					<div class="one-eight text-center">
						<div class="display-tc">
							<input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="1" min="1" max="100">
						</div>
					</div>
					<div class="one-eight text-center">
						<div class="display-tc">
							<span class="price">@item.tongTien.ToString("#,##0") VNĐ</span>
						</div>
					</div>
					<div class="one-eight text-center">
						<div class="display-tc">
							<a data-maSach ="@item.sach.MaSach" class="closed remove-cart"></a>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
		<div class="row row-pb-lg">
			<div class="col-md-12">
				<div class="total-wrap">
					<div class="row">
						<div class="col-sm-8">
						</div>
						<div class="col-sm-4 text-center">
							<div class="total">
								<div class="grand-total">
									<p><span><strong>Tổng:</strong></span> <span>@Model.Sum(x => x.tongTien).ToString("#,##0") VNĐ</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			$(function (){
				$(".remove-cart").click(function () {
					var maSach = $(this).attr("data-maSach");
					$.ajax({
						url: "api/cart/remove",
						type: "POST",
						dataType: "JSON",
						data: { maSach: maSach},
						success: function (result) {
							if (result.success) {
								loadHeaderCart(); // Reload lai gio hang
								location.reload();
							}
						},
						error: function (rs) {
							alert("Remove Cart Error !")
						}
					});
				});
			});
			function loadHeaderCart() {
				$('#miniCart').load("/Ajax/HeaderCart");
				$('#numberCart').load("/Ajax/NumberCart");
			}
		});
	</script>
}
